<!-- Job -->
<div class="modal fade" id="job">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="job-title">Job</h4>
      </div>
      <div class="modal-body" id="job-body">
	<label>任务名 (选填)</label>
	<input type='text' class='form-control' id='job-name'/><br />
	<label>命令</label>
	<input type='text' class='form-control' id='job-command' onkeyup="job_command = $(this).val(); job_string();"/><br />
	<label>快速部署</label><br />
	<a class="btn btn-primary" onclick="schedule = '@reboot'; job_string();">启动时</a>
	<a class="btn btn-primary" onclick="schedule = '@hourly'; job_string();">每小时</a>
	<a class="btn btn-primary" onclick="schedule = '@daily'; job_string();">每天</a>
  <a class="btn btn-primary" onclick="schedule = '@weekly'; job_string();">每周</a>
	<a class="btn btn-primary" onclick="schedule = '@monthly'; job_string();">每月</a>
	<a class="btn btn-primary" onclick="schedule = '@yearly'; job_string();">每年</a><br /><br />

	<div class="row">
		<div class="col-md-2">分</div>
		<div class="col-md-2">时</div>
		<div class="col-md-2">日</div>
		<div class="col-md-2">月</div>
		<div class="col-md-2">周</div>
	</div>
	<div class="row">
		<div class="col-md-2"><input type="text" class="form-control" id="job-minute" value="*" onclick="this.select();"/></div>
		<div class="col-md-2"><input type="text" class="form-control" id="job-hour" value="*" onclick="this.select();"/></div>
		<div class="col-md-2"><input type="text" class="form-control" id="job-day" value="*" onclick="this.select();"/></div>
		<div class="col-md-2"><input type="text" class="form-control" id="job-month" value="*" onclick="this.select();"/></div>
		<div class="col-md-2"><input type="text" class="form-control" id="job-week" value="*" onclick="this.select();"/></div>
		<div class="col-md-2"><a class="btn btn-primary" onclick="set_schedule();">设置</a></div>
	</div>

	<br />
	<br />
	<label>任务实体</label>
	<input type='text' class='form-control' id='job-string' disabled='disabled'/><br />
	<label><input type="checkbox" id="job-logging" style="position:relative;top:2px"/> 启用错误日志。</label><br />
<!--	<a class="btn btn-primary btn-small" data-json="{}" onclick="setMailConfig(this);" id="job-mailing">邮件通知</a> -->
<!--	<a class="btn btn-primary btn-small" data-json="{}" onclick="setHookConfig(this);">Hooks</a>  -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="job-save">保存</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="popup">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal-title">Message</h4>
      </div>
      <div class="modal-body" id="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" id="modal-close-button">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="modal-button">Ok</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="info-popup">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="info-title">Message</h4>
      </div>
      <div class="modal-body" id="info-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="info-button">Ok</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
